body,
html {
  margin: 0;
  height: 100%;
  width: 100%;
  background-color: #cacfcb;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

img {
  width: 75%;
  max-width: 75%;
  /* height: intrinsic; */
  margin: 20px;
  border: 3px solid black;
  border-radius: 20px;
}
