body,
html {
  margin: 0;
  height: 100%;
  width: 100%;
  background-color: #cacfcb;
}

.container {
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.container:first-child {
  display: flex;
  justify-content: center;
  align-items: flex-start; /* new */
  margin-bottom: 25px;
}
img {
  width: 75%;
  max-width: 75%;
  margin: 20px;
  border: 3px solid black;
  border-radius: 20px;
}
