body,
html {
  margin: 0;
  height: 100%;
  width: 100%;
  background-color: #cacfcb;
}

.container {
  display: flex;
  justify-content: center;
}

img {
  max-width: 75%;
  height: auto;
  margin: 20px;
  border: 3px solid black;
  border-radius: 20px;
}
