body,
html {
  margin: 0;
  height: 100%;
  width: 100%;
  background-color: #cacfcb;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container:first-child {
  display: flex;
  align-items: center;
  margin-bottom: 25px;
}
img {
  width: 75%;
  max-width: 75%;
  height: intrinsic;
  margin: 20px;
  border: 3px solid black;
  border-radius: 20px;
}

.textbox {
  width: 100%;
  text-align: center;
}

/* a {
  color: inherit;
  text-decoration: inherit;
} */
